<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Random Dog</title>
</head>
<body>
    <a href="{{ url_for('home') }}" class="doggy-home">Doggy Go Home!</a>
    <img src="{{ url }}" alt="Random Dog" class="img-responsive dog-img">
</body>
</html>
