<!DOCTYPE html>
<html>
<head>
    <title>Update User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <a href="{{ url_for('home') }}" class="doggy-home">Doggy Go Home!</a>

    <h1>Update User</h1>

    <form action="/update" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="new_email">New Email:</label>
        <input type="email" id="new_email" name="new_email" required><br>

        <input type="submit" value="Update">
    </form>

    <a href="{{ url_for('list_users') }}" class="doggy-clubbers-link">See Current Random Dog Clubber Info Again</a>

</body>
</html>
